<title> Update your profile! </title>




<div class="bloc-flex">




  <div class="item-flex">

    <ul>
      <li>
          <h1> Update properly your profile to obtain more client</h1>
      </li>
      <li>

        <div class="line-class">
          <i class="fas fa-check-circle" style="font-size:30px;" ></i>
          <h1> + 13%  </h1>
        </div>
        <h3> if you authorised Whatsapp communications </h3>
      </li>

      <li>
        <i class="fas fa-check-circle" style="font-size:30px;"></i>
        <h1> +22% </h1>
        <h3> if you add English </h3>
      </li>

      <li>
        <i class="fas fa-check-circle" style="font-size:30px;"></i>
        <h1> + 18% </h1>
        <h3> if you accept to accept success fees </h3>
      </li>
    </ul>

  </div>




  <div class="item-flex">

  <%= simple_form_for(@lawyer) do |f| %>
    <%= f.input :short_desc, label: 'Make a short description of yourself', error: 'At least 20 ' %>
    raise
    <%= f.input :long_desc, label: 'Your specialities, your experience, etc' %>

    <%= f.input :phone, placeholder: 'please enter phone number without spaces' %>
    <%= f.input :address, placeholder: 'please enter your adress' %>

    <%= f.input :price_cents, label: 'Request deposit', placeholder: 'your required prepayment' %>
    <%#= f.association :languages, collection: Language.all, { label_method: lawyer_properties.id => :content },  prompt: "Select your languages" %>
    <%= f.association :law_fields , collection: LawField.all, label_method: :content, value_method: :id, input_html: {multiple: true} %>
    <%= f.association :languages , collection: Language.all, label_method: :content, value_method: :id, input_html: {multiple: true} %>
    <%= f.association :payment_types , collection: PaymentType.all, label_method: :content, value_method: :id, input_html: {multiple: true} %>
    <%= f.association :communications , collection: Communication.all, label_method: :content, value_method: :id, input_html: {multiple: true} %>
      <%= f.input :photo, label: 'Your profile picture', placeholder: 'update your photo' %>


    <%= f.button :submit %>
    <% end %>

  </div>

</div>


