
<div class="container">

  <%= form_tag lawyers_path, method: :get, id: 'filter-form' do %>
  <div class="select-tags" style="display: flex; margin-top: 50px; justify-content: center;">

    <%= select_tag "query[law_field]", options_from_collection_for_select(LawField.all, :id, :content, @queries[:law_field]), prompt: "Select lawfield" %>

    <%= select_tag "query[language]", options_from_collection_for_select(Language.all, :id, :content, @queries[:language]), prompt: "Select language" %>
    <%= select_tag "query[payment_type]", options_from_collection_for_select(PaymentType.all, :id, :content, @queries[:payment_type]), prompt: "Select a payment type" %>

    <%= select_tag "query[city]", options_for_select(Lawyer.cities, @queries[:city]) , prompt: "Select a city" %>

    <%= select_tag "query[digital_lawyer]", options_for_select(["True", "False"], @queries[:digital_lawyer]), prompt: "Digital lawyer" %>

    <%= submit_tag "filter", class: "law-btn law-btn-fat no-padding", style: "margin: 0px;" %>
  </div>
  <% end %>
<%#= link_to "All lawyers", all_path, class:"btn btn-primary" %>

      <% @lawyers.each do |lawyer| %>
        <%= link_to lawyer_path(lawyer) do %>
          <div class="border-box-lawyer">
            <div class="message-for-lawyer">
              <div class="photo-lawyer">
              <%= cl_image_tag lawyer.user.photo, :width=> 150, :height=>150, :crop=>"fill", class: "avatar-large"%>
              <% if lawyer.digital_lawyer == true %>
              <i class="fas fa-at pin-nomad"></i>
              <% end %>
              </div>
              <div class="message-name-for-lawyer">
                <h3><%= lawyer.user.first_name%></h3>
                <h3><%= lawyer.user.last_name%></h3>
                <p><%= lawyer.user.created_at%></p>
                <p><%= lawyer.city %></p>
              </div>
              <div class="message-body-for-lawyer">
               <div class="message-sub-body">
                 <p><strong>Law-fields : </strong></p>
                 <% lawyer.law_fields.uniq.each do |field| %>
                 <p><%= field.content %></p>
                 <% end %>
               </div>
               <div class="message-sub-body">
                 <p><strong>Languages : </strong></p>
                 <% lawyer.languages.uniq.each do |language| %>
                 <p><%= language.content %></p>
                 <% end %>
               </div>
               <div class="message-sub-body">
                 <p><strong>Fees : </strong></p>
                 <% lawyer.payment_types.uniq.each do |type| %>
                 <p><%= type.content %></p>
                 <% end %>
               </div>
             </div>
             <div class="message-status-for-lawyer">
              <p class="initial-fee-for-lawyer">Initial Fee</p>
              <p class="price"><%= lawyer.price_cents / 100 %> $ </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  </div>
</div>
