
<h1>Find your lawyer:</h1>
<div class="container">
<%= form_tag lawyers_path, method: :get do %>
<%= label_tag :language %>
<%#= text_field_tag :language, params[:language] %>
<%= select_tag "language", options_for_select(Language.all.collect { |u| [u.content,u.id] }, "English") %>
<%= label_tag :law_field %>
<%= select_tag "law_field", options_for_select(LawField.all.collect {|u| [u.content,u.id] } ) %>
<%= label_tag :payment_types  %>
<%= select_tag "payment_types", options_for_select(PaymentType.all.collect {|u| [u.content,u.id ] } ) %>
<%= submit_tag "filter", class: "btn btn-large btn-primary" %>
<% end %>
     <% @lawyers.each do |lawyer| %>
   <div class="border-box-lawyer">
     <div class="message-for-lawyer">
      <%= cl_image_tag lawyer.user.photo, :width=> 100, :height=>100, :crop=>"fill", class: "avatar-large"%>
      <div class="message-name-for-lawyer">
        <h3><%= lawyer.user.first_name%></h3>
        <h3><%= lawyer.user.last_name%></h3>
        <p><%= lawyer.user.created_at%></p>
      </div>
      <div class="message-body-for-lawyer">
       <div class="message-sub-body">
         <p><strong>Law-fields : </strong></p>
         <% lawyer.law_fields.limit(3).uniq.each do |field| %>
         <p> - <%= field.content %></p>
         <% end %>
       </div>
       <div class="message-sub-body">
         <p><strong>Languages : </strong></p>
         <% lawyer.languages.limit(3).uniq.each do |language| %>
         <p> - <%= language.content %></p>
         <% end %>
       </div>
       <div class="message-sub-body">
         <p><strong>Fees : </strong></p>
         <% lawyer.payment_types.limit(3).uniq.each do |type| %>
         <p> - <%= type.content %></p>
         <% end %>
       </div>
     </div>
     <div class="message-status-for-lawyer">
      <p class="initial-fee-for-lawyer">Initial Fee</p>
      <p class="price"><%= lawyer.price_cents / 100 %> $ </p>
    </div>
  </div>
</div>
  <% end %>
</div>
</div>
