
<h1>Find your lawyer:</h1>
<%= form_tag lawyers_path, method: :get do %>

<%= label_tag :language %>
<%#= text_field_tag :language, params[:language] %>
<%= select_tag "language", options_for_select(Language.all.collect { |u| [u.content,u.id] }, "English") %>

<%= label_tag :law_field %>
<%= select_tag "law_field", options_for_select(LawField.all.collect {|u| [u.content,u.id] } ) %>

<%= label_tag :payment_types  %>

<%= select_tag "payment_types", options_for_select(PaymentType.all.collect {|u| [u.content,u.id ] } ) %>



<%#= text_field_tag :law_field, params[:law_field] %>
<%#= text_field_tag :law_field, params[:law_field] %>



<%= submit_tag "filter", class: "btn btn-large btn-primary" %>
<% end %>


<div class="lawyers">
  <% @lawyers.each do |lawyer| %>
  <div class="mini-lawyer-card">
    <%= link_to lawyer_path(lawyer) do %>
    <div class="header">
      <div class="bold">
        <%= "#{lawyer.user.first_name} #{lawyer.user.last_name}" %>
      </div>
      <div class="address">
        <%= lawyer.address %>
      </div>
    </div>
    <div class="info">
      <div class="languages">
        <div class="bold">Languages: </div>
        <% lawyer.languages.each do |language| %>
        <div class="language">
          <%= language.content %>
        </div>
        <% end %>
      </div>
      <div class="law-fields">
        <div class="bold">
          Law fields:
        </div>
        <% lawyer.law_fields.each do |law_field| %>
        <div class="law-field">
          <%= law_field.content %>
        </div>
        <% end %>
      </div>
      <div class="index-avatar">
        <%= cl_image_tag lawyer.photo, class: 'index-avatar-photo' %>
      </div>
      <div class="col-md-4 lawyer-rating">
       <div class="">
        <h5>Lawyer.rating</h5>
        <h5>4.0/5.0 </h5>
        <p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </p>
        <p>
          no. of cases <i class="fa fa-thumbs-up"></i>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
</div>
<% end %>
</div>





