
<h1>filter form</h1>
<%= form_tag lawyers_path, method: :get do %>

  <%= label_tag :law_field %>
  <%= text_field_tag :law_field, params[:law_field] %>

  <%= label_tag :language %>
  <%= text_field_tag :language, params[:language] %>

  <%= submit_tag "filter", class: "btn btn-large btn-primary" %>
<% end %>


<div class="lawyers">
  <% @lawyers.each do |lawyer| %>

    <div class="mini-lawyer-card">

      <div class="header">
        <div class="bold">
          <%= "#{lawyer.user.first_name} #{lawyer.user.last_name}" %>
        </div>
        <div class="address">
          <%= lawyer.address %>
        </div>
      </div>

      <div class="info">
        <div class="languages">
          <div class="bold">Languages: </div>
          <% lawyer.languages.each do |language| %>
            <div class="language">
              <%= language.content %>
            </div>
          <% end %>
        </div>
        <div class="law-fields">
          <div class="bold">
            Law fields:
          </div>
          <% lawyer.law_fields.each do |law_field| %>
            <div class="law-field">
              <%= law_field.content %>
            </div>
          <% end %>
        </div>

      <div class="index-avatar">
          <%= cl_image_tag lawyer.photo, class: 'index-avatar-photo' %>
      </div>
      </div>

    </div>
    </div>

    </div>

  <% end %>
</div>





