<div class="container container-lawhero-padding">

  <div class="row">
    <div class="lawyer-details">
      <div class="col-xs-12 col-sm-3">
        <%= cl_image_tag @lawyer.photo, :width=> 300, :height=>300, :crop=>"fill", class: "show-photo" %>
      </div>
      <div class="col-xs-12 col-sm-9">
        <h1><%= @lawyer.user.first_name + ' ' + @lawyer.user.last_name %></h1>
        <p><%= @lawyer.short_desc %></p>
      </div>
      <div class="col-xs-12">
        <%= button_to "Start your request now", new_lawyer_request_path(params[:id]), class: "btn btn-primary book-lawyer-button", method: :get %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="lawyer-tabs">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="specialties-tab" data-toggle="tab" href="#specialties" role="tab" aria-controls="specialties" aria-selected="false">Specialties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="fees-tab" data-toggle="tab" href="#fees" role="tab" aria-controls="fees" aria-selected="false">Fees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="ratings-tab" data-toggle="tab" href="#ratings" role="tab" aria-controls="ratings" aria-selected="false">Ratings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="references-tab" data-toggle="tab" href="#references" role="tab" aria-controls="references" aria-selected="false">References</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="communication-tab" data-toggle="tab" href="#communication" role="tab" aria-controls="communication" aria-selected="false">Communication</a>
        </li>
      </ul>
      <div class="tab-content " id="myTabContent">
        <div class="tab-pane fade tab-content-text in active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
          <%= @lawyer.long_desc %>
        </div>
        <div class="tab-pane fade tab-content-text" id="specialties" role="tabpanel" aria-labelledby="specialties-tab">
          <ul>
            <% @lawyer.law_fields.each do |field| %>
            <li><%= field.content %></li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane fade tab-content-text" id="fees" role="tabpanel" aria-labelledby="fees-tab">...</div>
        <div class="tab-pane fade tab-content-text" id="ratings" role="tabpanel" aria-labelledby="ratings-tab">...</div>
        <div class="tab-pane fade tab-content-text" id="references" role="tabpanel" aria-labelledby="references-tab">...</div>
        <div class="tab-pane fade tab-content-text" id="communication" role="tabpanel" aria-labelledby="communication-tab">
          <ul>
            <% @lawyer.languages.each do |language| %>
            <li><%= language.content %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="lawyer-reviews">
      <h2 class="text-center">Reviews</h2>
      <% @lawyer.reviews.each do |review| %>
        <div class="review-card">
          <div class="review-card-details col-xs-12 col-sm-2">
            <p><%= review.stars %></p>
            <div class="star-amount">
              <% review.stars.times do %>
                <span class="fas fa-star colored-star"></span>
                <% end %>
                <% (5-review.stars).times do %>
                <span class="fas fa-star "></span>
              <% end %>
            </div>
            <p class="text-center"><%= review.booking.user.first_name + ' ' + review.booking.user.last_name %></p>
          </div>
          <div class="review-card-content col-xs-12 col-sm-10">
            <p><strong><%= review.title %></p></strong>
            <p><%= review.content %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

