<h1>Case new page</h1>

<div class="container">
  <div class="row">
    <%= form_for ([@lawyer, @case]), html: { multipart: true } do |f| %>
      <%= f.text_field :title %>
      <%= f.text_field :description %>
      <%= f.file_field :documents, as: :file, multiple: :true, name: "documents[]" %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
