<div class="container container-new-payment">
  <div class="col-sm-6 col-sm-offset-3">
    <h1 class="h1-headline-blue">Create your request </h1>

    <p> After submission, your lawyer still have to accept your request</p>


      <div class="row">

        <div class="form-new-case">
          <%= form_for ([@lawyer, @case]), html: { multipart: true } do |f| %>
          <div class="form-group col-md-12">

            <label for="case-title">Add a title to your request </label>
              <%= f.text_field :title, class:"form-control", label:false, placeholder: "Title of your request" %>
          </div>

          <div class="form-group col-md-12">
            <label for="case-description"> Add a description to your description</label>
              <%= f.text_area :description, class:"form-control", id:"big-fat-input-field", placeholder: "Explain what is your problem, the context. Attach important documents below" %>
          </div>

            <div class="form-group col-md-12">
              <%= f.file_field :documents, as: :file, multiple: :true, name: "documents[]" %>
           </div>

            <div class="form-group col-md-12">
              <%= f.button :submit, class:"btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
