<div class="container">
  <!-- <div class="row"> -->
    <div class="dashboard-tabs">
      <div class="fake-container">
        <div class="fake-column-1"></div>
        <div class="fake-column-2">
          <ul class="nav nav-tabs-dashboard" id="myTab" role="tablist" style="padding-left: 20px;">
            <li class="nav-item active">
              <a class="nav-link" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">documents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="time-line-tab" data-toggle="tab" href="#time-line" role="tab" aria-controls="time-line" aria-selected="false">story line</a>
            </li>
          </ul>
        </div>
        <div class="fake-column-3"></div>
      </div>
      <div class="tab-content " id="myTabContent">
        <div class="tab-pane fade tab-content-text in active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
          <div class="four-columns-dash">
            <div class="info-column-dash">
              <div class="text-center">
                <%= cl_image_tag @case.user.photo, :width=> 300, :height=>300, :crop=>"fill", class: "show-photo", style:"margin-bottom: 10px;" %> <br>
                <p>
                  <%= @case.user.first_name %> <%= @case.user.last_name %>
                </p>
                <a>
          <%= link_to "Edit your profile", edit_user_path(@case.user), class: "btn btn-primary" %>
        </a>
              </div>
            </div>
            <div class="main-column-dash">
            </div>
            <div class="steps-financial-column-dash">
              <div class="steps-box-dash">
                <p><strong>Next steps:</strong></p>
                <div class="step">
                  <i class="fa fa-check-circle" style="margin: 5px;"></i>
                  <p>Provide work contract</p>
                </div>
              </div>
              <div class="financial-box-dash">
                <p><strong>Financial Overview:</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade tab-content-text " id="messages" role="tabpanel" aria-labelledby="messages-tab">
          <div class="two-columns-dash">
            <div class="left-column-dash">
              <div class="text-center">
                <%= cl_image_tag @case.user.photo, :width=> 300, :height=>300, :crop=>"fill", class: "show-photo", style:"margin-bottom: 10px;" %> <br>
                <p>
                  <%= @case.user.first_name %> <%= @case.user.last_name %>
                </p>
                <a>
                  <%= link_to "Edit your profile", root_path, class: "btn btn-primary" %>
                </a>
              </div>
            </div>
             </div>
            <div class="right-column-dash">
              <%= simple_form_for([@case, @message]) do |f| %>
                <%= f.input :content %>
                <%= f.submit %>
              <% end %>
                  <p>Case Messages:</p>
                  <% @case.messages.each do |message| %>
                    <div class="case-message">
                      <div class="date-message">
                        <%= message.created_at.strftime("%m-%e-%y %H:%M") %>
                      </div>
                      <div class="message-content"><%= message.content %></div>
                    </div>
                   <% end %>
            </div>
           </div>
        </div>
        <div class="tab-pane fade tab-content-text " id="documents" role="tabpanel" aria-labelledby="documents-tab">
          </div>
        </div>
        <div class="tab-pane fade tab-content-text " id="documents" role="tabpanel" aria-labelledby="documents-tab">
          <div class="two-columns-dash">
            <div class="left-column-dash">
              <div class="text-center">
                <%= cl_image_tag @case.user.photo, :width=> 300, :height=>300, :crop=>"fill", class: "show-photo", style:"margin-bottom: 10px;" %> <br>
                <p>
                  <%= @case.user.first_name %> <%= @case.user.last_name %>
                </p>
                <a>
                  <%= link_to "Edit your profile", root_path, class: "btn btn-primary" %>
                </a>
              </div>
            </div>
            <div class="right-column-dash">
              <h1>Documents box</h1>
            </div>
          </div>
        </div>
        <div class="tab-pane fade tab-content-text " id="time-line" role="tabpanel" aria-labelledby="time-line-tab">
          <div class="two-columns-dash">
            <div class="left-column-dash">
              <div class="text-center">
                <%= cl_image_tag @case.user.photo, :width=> 300, :height=>300, :crop=>"fill", class: "show-photo", style:"margin-bottom: 10px;" %> <br>
                <p>
                  <%= @case.user.first_name %> <%= @case.user.last_name %>
                </p>
                <a>
                  <%= link_to "Edit your profile", root_path, class: "btn btn-primary" %>
                </a>
              </div>
            </div>
            <div class="right-column-dash">
              <h1>Time-line</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
