
<% if @home %>
  <% color_navbar = 'navbar-lawhero-transparent' %>
  <% logo_color = 'lawhero-logo-green.svg' %>
<% else %>
  <% color_navbar = 'navbar-lawhero-green' %>
  <% logo_color = 'lawhero-logo-white.svg' %>
<% end %>

<div class="navbar-lawhero <%= color_navbar %>">
  <!-- Logo -->
  <div class="navbar-logo-container">
    <%= link_to image_tag(logo_color, width: 75, height: 75, class: "navbar-logo-items navbar-logo-lawhero"), root_path %>
   <%# link_to root_path do %>
    <%#= image_tag(logo_color, width: 75, height: 75, class: "navbar-logo-items navbar-logo-lawhero") %>
    <%# end %>
    <a href="/" class="navbar-name navbar-logo-items">Lawhero</a>
  </div>

  <% if user_signed_in? %>
    <div class="navbar-right-lawhero-signed-in">
        <a href="" class="navbar-link">How it works</a>
        <a href="" class="navbar-link">About</a>
        <a href="" class="navbar-link">Lawyers</a>
        <div class="navbar-link">
          <div class="dropdown">
            <% if current_user.photo.filename.nil?  %>
              <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Default_profile_picture_%28male%29_on_Facebook.jpg" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle='dropdown'>
            <% else %>
              <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id:"navbar-wagon-menu", data: {toggle: 'dropdown'} %>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Dashboard</a></li>
              <li><%= link_to('Logout', destroy_user_session_path, method: :delete, class: "navbar-dropdown-link") %></li>
            </ul>
          </div>
        </div>
      </div>
  <% else %>
      <div class="navbar-right-lawhero">
        <a href="" class="navbar-link">How it works</a>
        <a href="" class="navbar-link">About</a>
        <a href="" class="navbar-link">Lawyers</a>
        <%= button_to "Sign in", new_user_session_path, class: "btn btn-primary", method: :get %>
      </div>
  <% end %>
</div>


