<div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/merlinha/image/upload/v1542264452/law%20seeds/home-banner-background.jpg');">
  <div class="banner-content">
    <h1>Find & book the right lawyer online</h1>
<!-- <div class="btn-group">
  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Large button <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>test</li>
    <li>test 2</li>
  </ul>
</div> -->
<%= form_tag lawyers_path, method: :get, class: "lawyer-search-form" do |f| %>
    <%= select_tag "query[law_field]", options_from_collection_for_select(LawField.all, :id, :content ), prompt: "Select lawfield", class: "form-control" %>
      <%= text_field_tag "query[city]", params[:city], class: "form-control", placeholder: "City" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= render "shared/onboarding_icons_lines" %>

<div class="banner-customers">
  <div class="banner-customers-background">
  <h2>What our customers say</h2>
    <div class="banner-customers-content">
      <div class="card-banner-customers">
        <div class="card-banner-customers-photo-a">
          <%=  cl_image_tag("customer_a.jpg", class: "avatar-large", crop: "fit") %>
        </div>
        <div class="card-banner-customers-quote">
          <p>“My lawyer did everything for me. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet”</p>
        </div>
      </div>
      <div class="card-banner-customers">
        <div class="card-banner-customers-quote">
          <p>“Lawhero was the best experience. I've found a good lawyer quick and easily. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet”</p>
        </div>
        <div class="card-banner-customers-photo-b">
          <%=  cl_image_tag("customer_b.jpg", class: "avatar-large") %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="space">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
