
<div class="container">
  <h1 style="color: #1F487E;">All my cases :</h1>
  <div class="two-columns-dash">
    <div class="left-column-dash">
      <div class="text-center">
        <%= cl_image_tag @user.photo, :width=> 300, :height=>300, :crop=>"fill", class: "show-photo", style:"margin-bottom: 10px;" %> <br>
        <p>
          <%= @user.first_name %> <%= @user.last_name %>
        </p>
        <div style="display: flex; flex-direction: column;">
          <%= link_to "Edit your profile", edit_user_path(@user), class: "law-btn" %>
          <%= link_to "Search Lawyers", lawyers_path, class: "law-btn" %>
        </div>
      </div>
    </div>
    <div class="right-column-dash">
      <div class="row">
        <div class="dashboard-tabs">
          <ul class="nav nav-tabs-dashboard" id="myTab" role="tablist" style="padding-left: 20px;">
            <li class="nav-item in active">
              <a class="nav-link" id="cases-tab" data-toggle="tab" href="#cases" role="tab" aria-controls="cases" aria-selected="true">pending cases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="accepted-tab" data-toggle="tab" href="#accepted" role="tab" aria-controls="accepted" aria-selected="false">accepted cases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="declined-tab" data-toggle="tab" href="#declined" role="tab" aria-controls="declined" aria-selected="false">declined cases</a>
            </li>
          </ul>
          <!-- < if @cases_lawyer %> -->
            <% if current_user.lawyer %>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade tab-content-text in active" id="cases" role="tabpanel" aria-labelledby="cases-tab">
                  <% @pending_cases_lawyer.each do |c| %>
                    <div class="message">
                      <%= cl_image_tag c.user.photo, :width=> 150, :height=>150, :crop=>"fill", class: "avatar-large"%>
                      <div class="message-name">
                        <h3><%= c.user.first_name %></h3>
                        <h3><%= c.user.last_name %></h3>
                        <p>10/07/17</p>
                      </div>
                      <div class="message-body">
                        <p><strong><%= c.title %></strong></p>
                        <p>
                          <%= c.description %>
                        </p>
                      </div>
                      <div class="message-status">
                        <% if c.status == "Accepted" %>
                          <p class="status accepted">Accepted</p>
                        <% elsif c.status == "Declined" %>
                          <p class="status declined">Declined</p>
                        <% else %>
                          <p class="status pending">Pending</p>
                        <% end %>

                      </div>
                       <div class="lawyer-side-options">
                        <%= link_to "Accept", accept_case_path(c), method: :patch, class: "law-btn" %>
                        <%= link_to "Decline", decline_case_path(c), method: :patch, class: "law-btn" %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="tab-pane fade tab-content-text" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
                  <% @accepted_cases_lawyer.each do |c| %>
                    <div class="message">
                      <%= cl_image_tag c.user.photo, :width=> 100, :height=>100, :crop=>"fill", class: "avatar-large"%>
                      <div class="message-name">
                        <h3><%= c.user.first_name %></h3>
                        <h3><%= c.user.last_name %></h3>
                        <p>10/07/17</p>
                      </div>
                      <div class="message-body">
                        <p><strong><%= c.title %></strong></p>
                        <p>
                          <%= c.description %>
                        </p>
                      </div>
                      <div class="message-status">
                        <%= c.status %>

                      </div>
                         <div class="lawyer-side-options">
                        <%= link_to "Update Case", edit_case_path(c), class: "law-btn" %>
                        <%= link_to "Show Case", case_path(c), class: "law-btn" %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="tab-pane fade tab-content-text" id="declined" role="tabpanel" aria-labelledby="declined-tab">
                  <% @declined_cases_lawyer.each do |c| %>
                    <%= link_to case_path(c) do %>
                      <div class="message">
                        <%= cl_image_tag c.lawyer.user.photo, :width=> 150, :height=>150, :crop=>"fill", class: "avatar-large"%>
                        <div class="message-name">
                          <h3><%= c.user.first_name %></h3>
                          <h3><%= c.user.last_name %></h3>
                          <p>10/07/17</p>
                        </div>
                        <div class="message-body">
                          <p><strong><%= c.title %></strong></p>
                          <p>
                            <%= c.description %>
                          </p>
                        </div>
                        <div class="message-status">
                          <%= c.status %>

                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% else %>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade tab-content-text in active" id="cases" role="tabpanel" aria-labelledby="cases-tab">
                  <% @pending_cases.each do |c| %>
                    <div class="message">
                      <%= cl_image_tag c.lawyer.user.photo, :width=> 100, :height=>100, :crop=>"fill", class: "avatar-large"%>
                      <div class="message-name">
                        <h3><%= c.lawyer.user.first_name %></h3>
                        <h3><%= c.lawyer.user.last_name %></h3>
                        <p>10/07/17</p>
                      </div>
                      <div class="message-body">
                        <p><strong><%= c.title %></strong></p>
                        <p>
                          <%= c.description %>
                        </p>
                      </div>
                      <div class="message-status">
                        <% if c.status == "Accepted" %>
                          <p class="status accepted">Accepted</p>
                        <% elsif c.status == "Declined" %>
                          <p class="status declined">Declined</p>
                        <% else %>
                          <p class="status pending">Pending</p>
                        <% end %>

                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="tab-pane fade tab-content-text" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
                  <% @accepted_cases.each do |c| %>
                    <div class="message">
                      <%= cl_image_tag c.lawyer.photo, :width=> 100, :height=>100, :crop=>"fill", class: "avatar-large"%>
                      <div class="message-name">
                        <h3><%= c.lawyer.user.first_name %></h3>
                        <h3><%= c.lawyer.user.last_name %></h3>
                        <p>10/07/17</p>
                      </div>

                      <div class="message-body">
                        <p><strong><%= c.title %></strong></p>
                        <p>
                          <%= c.description %>
                        </p>
                      </div>
                      <div class="message-status">
                        <%= c.status %>

                      </div>
                      <div class="lawyer-side-options">

                        <%= link_to "Show Case", case_path(c), class: "law-btn" %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="tab-pane fade tab-content-text" id="declined" role="tabpanel" aria-labelledby="declined-tab">
                  <% @declined_cases.each do |c| %>
                    <%= link_to case_path(c) do %>
                      <div class="message">
                        <%= cl_image_tag c.lawyer.user.photo, :width=> 150, :height=>150, :crop=>"fill", class: "avatar-large"%>
                        <div class="message-name">
                          <h3><%= c.lawyer.user.first_name %></h3>
                          <h3><%= c.lawyer.user.last_name %></h3>
                          <p>10/07/17</p>
                        </div>
                        <div class="message-body">
                          <p><strong><%= c.title %></strong></p>
                          <p>
                            <%= c.description %>
                          </p>
                        </div>
                        <div class="message-status">
                          <%= c.status %>

                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <!-- <end %> -->
        </div>
      </div>
    </div>
  </div>
</div>
