<h1>Dashboards#mydashboard</h1>
<p>Find me in app/views/dashboards/mydashboard.html.erb</p>
<div class="container">

  <div class="two-columns-dash">
    <div class="left-column-dash">
      <div class="text-center">
        <%= cl_image_tag @user.photo, :width=> 300, :height=>300, :crop=>"fill", class: "show-photo", style:"margin-bottom: 10px;" %> <br>
        <p>
          <%= @user.first_name %> <%= @user.last_name %>
        </p>
      <a>
      <%= link_to "Edit your profile", root_path, class: "btn btn-primary" %>
      </a>
      </div>
    </div>
    <div class="right-column-dash">
      <div class="row">
        <div class="dashboard-tabs">
          <ul class="nav nav-tabs-dashboard" id="myTab" role="tablist" style="padding-left: 20px;">
            <li class="nav-item active">
              <a class="nav-link" id="cases-tab" data-toggle="tab" href="#cases" role="tab" aria-controls="cases" aria-selected="true">cases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="requests-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="requests" aria-selected="false">requests</a>
            </li>
          </ul>
          <div class="tab-content " id="myTabContent">
            <div class="tab-pane fade tab-content-text in active" id="cases" role="tabpanel" aria-labelledby="cases-tab">
              <p>test</p>
            </div>
            <div class="tab-pane fade tab-content-text" id="requests" role="tabpanel" aria-labelledby="requests-tab">
              <% @requests.each do |request| %>
              <div class="message">
                <%= cl_image_tag request.lawyer.user.photo, :width=> 100, :height=>100, :crop=>"fill", class: "avatar-large"%>
                <div class="message-name">
                  <h3><%= request.lawyer.user.first_name %></h3>
                  <h3><%= request.lawyer.user.last_name %></h3>
                  <p>10/07/17</p>
                </div>
                <div class="message-body">
                  <p><strong><%= request.title %></strong></p>
                  <p>
                    <%= request.description %>
                  </p>
                </div>
                <div class="message-status">
                  <p class="status pending">Pending</p>
                  <p class="price">€345</p>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
